In [1]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\stuti\anaconda3\lib\site-packages (0.3.6)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: packaging in c:\users\stuti\anaconda3\lib\site-packages (from kagglehub) (23.1)
Requirement already satisfied: requests in c:\users\stuti\anaconda3\lib\site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in c:\users\stuti\anaconda3\lib\site-packages (from kagglehub) (4.65.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\stuti\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\stuti\anaconda3\lib\site-packages (from requests->kagglehub) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\stuti\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\stuti\anaconda3\lib\site-packages (from requests->kagglehub) (2024.2.2)
Requirement already satisfied: colorama in c:\users\stuti\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

The syntax of the command is incorrect.
'cp' is not recognized as an internal or external command,
operable program or batch file.
'chmod' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
# api fetch the dataset from kaggle
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kazanova/sentiment140")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\stuti\.cache\kagglehub\datasets\kazanova\sentiment140\versions\2

In [4]:
#extracting the compressed dataset 
from zipfile import ZipFile
import os

dataset = '"C:\\Users\\stuti\\.cache\\kagglehub\\datasets\\kazanova\\sentiment140\\versions\\2\\training.1600000.processed.noemoticon.csv"'

# Check if the file exists and is accessible
if os.path.exists(dataset):
    try:
        with ZipFile(dataset, 'r') as zip:
            zip.extractall()
            print("The dataset is extracted")
    except PermissionError as e:
        print(f"PermissionError: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")
else:
    print("File does not exist at the specified path.")

File does not exist at the specified path.

In [5]:
#importing dependencies
import numpy as np
import pandas as pd
import re 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
import nltk 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\stuti\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
#printing stopwords in english words doesnt add any meaning infentual meaning or contexual meaning we simply remove them from dataset
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [8]:
#data processing
twitter_data=pd.read_csv("C:\\Users\\stuti\\.cache\\kagglehub\\datasets\\kazanova\\sentiment140\\versions\\2\\training.1600000.processed.noemoticon.csv",encoding='ISO-8859-1')

In [9]:
twitter_data.shape
twitter_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [10]:
#for reading column name we've named column 
column_names=['target','id','date','flag','user','text']
twitter_data=pd.read_csv("C:\\Users\\stuti\\.cache\\kagglehub\\datasets\\kazanova\\sentiment140\\versions\\2\\training.1600000.processed.noemoticon.csv",names=column_names,encoding='ISO-8859-1')

In [11]:
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [12]:
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [13]:
#checking the distribution of target column
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [14]:
#as there are two label 0=-ve and 4=+ve we are converting 4 as 1
twitter_data.replace({'target':{4:1}},inplace=True)

In [15]:
twitter_data['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

In [16]:
#stemming is the process to reduce the word into the root word example : actress,actor,acting root words : act
port_stem=PorterStemmer()

In [17]:
#only taking alphabets and removing other than that like @,#,puntuatuions and than we converting upper case into lower case than we split the word and putting in the list 
#then we are removing stop word 
def stemming(content):

    stemmed_content=re.sub('[^a-zA-Z]',' ',content)
    stemmed_content=stemmed_content.lower()
    stemmed_content=stemmed_content.split()
    stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content=' '.join(stemmed_content)
    
    return stemmed_content

In [18]:
positive_tweets=twitter_data[twitter_data['target']==1]
negative_tweets=twitter_data[twitter_data['target']==0]
target_size=80000
positive_samples=positive_tweets.sample(n=target_size,random_state=42)
negative_samples=negative_tweets.sample(n=target_size,random_state=42)

balanced_data=pd.concat([positive_samples,negative_samples])

In [19]:
balanced_data.head()

,target,id,date,flag,user,text
1012188,1,1881179620,Fri May 22 03:51:54 PDT 2009,NO_QUERY,tarawade,Is lookin 4ward to a long weekend really dont...
1099036,1,1970537555,Sat May 30 04:15:49 PDT 2009,NO_QUERY,Millie_stillie,#myweakness Is music and i live to meet the p...
1275978,1,2001154935,Tue Jun 02 00:00:21 PDT 2009,NO_QUERY,zsangel,figured out the Internet on my new iPod
1388988,1,2053074174,Sat Jun 06 03:10:08 PDT 2009,NO_QUERY,krisignacio,@hillsongunited can't wait to worship with you...
938859,1,1793548492,Thu May 14 03:06:55 PDT 2009,NO_QUERY,_DrInE_,@sillybeggar Congrats James !! I'm sure the bo...

In [20]:
balanced_data['stemmed_content']=balanced_data['text'].apply(stemming)

In [21]:
balanced_data.head()

,target,id,date,flag,user,text,stemmed_content
1012188,1,1881179620,Fri May 22 03:51:54 PDT 2009,NO_QUERY,tarawade,Is lookin 4ward to a long weekend really dont...,lookin ward long weekend realli dont want go w...
1099036,1,1970537555,Sat May 30 04:15:49 PDT 2009,NO_QUERY,Millie_stillie,#myweakness Is music and i live to meet the p...,myweak music live meet peopl make
1275978,1,2001154935,Tue Jun 02 00:00:21 PDT 2009,NO_QUERY,zsangel,figured out the Internet on my new iPod,figur internet new ipod
1388988,1,2053074174,Sat Jun 06 03:10:08 PDT 2009,NO_QUERY,krisignacio,@hillsongunited can't wait to worship with you...,hillsongunit wait worship guy tonight much fun
938859,1,1793548492,Thu May 14 03:06:55 PDT 2009,NO_QUERY,_DrInE_,@sillybeggar Congrats James !! I'm sure the bo...,sillybeggar congrat jame sure book go huge suc...

In [22]:
balanced_data.shape
print(balanced_data['target'])

1012188    1
1099036    1
1275978    1
1388988    1
938859     1
          ..
665399     0
519342     0
608526     0
339887     0
225989     0
Name: target, Length: 160000, dtype: int64

In [23]:
#removing unwanted columns
x=balanced_data['stemmed_content'].values
y=balanced_data['target'].values

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [25]:
print(x.shape,x_train.shape,x_test.shape)

(160000,) (128000,) (32000,)

In [26]:
#converting textual data into numerical data
vectorizer=TfidfVectorizer()

x_train=vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [27]:
print(x_train)

  (0, 81327)	0.2064357446294021
  (0, 56313)	0.2939849571420396
  (0, 28596)	0.2467985457828237
  (0, 80941)	0.28503489142118676
  (0, 1853)	0.3361684716114074
  (0, 22111)	0.3401242752866553
  (0, 30799)	0.16963179349613203
  (0, 76206)	0.27835187563749764
  (0, 47811)	0.28389699503799326
  (0, 45639)	0.5596934312759454
  (1, 27805)	0.6523062177690552
  (1, 48689)	0.7579555384452509
  (2, 15785)	0.3574230626469405
  (2, 79984)	0.19177867841384083
  (2, 77377)	0.29518660770237726
  (2, 50542)	0.23052646223539283
  (2, 72475)	0.16460795492389516
  (2, 46935)	0.2010466851435451
  (2, 40400)	0.331922303044777
  (2, 56043)	0.17620110402432185
  (2, 13941)	0.26373909196614265
  (2, 64815)	0.22784380047893701
  (2, 65765)	0.38859499792294777
  (2, 55303)	0.44392973373945255
  (2, 30799)	0.13002511269142272
  :	:
  (127996, 84691)	0.3942880463315301
  (127997, 88592)	0.5641114622868479
  (127997, 37650)	0.82569864848902
  (127998, 31832)	0.38621562143929816
  (127998, 35121)	0.3690481836011409
  (127998, 62266)	0.30498477647248345
  (127998, 16155)	0.3995698678501317
  (127998, 85585)	0.27014989520716504
  (127998, 67852)	0.31195965936900616
  (127998, 46646)	0.2665771663573286
  (127998, 83958)	0.31195965936900616
  (127998, 34828)	0.21028179922001994
  (127998, 70708)	0.2254342847227639
  (127998, 19186)	0.16807164335705782
  (127999, 76736)	0.4594638994245539
  (127999, 54335)	0.4594638994245539
  (127999, 65493)	0.37797620762837686
  (127999, 7922)	0.31580778925931907
  (127999, 27023)	0.2636838332010759
  (127999, 22471)	0.2656252195194042
  (127999, 92142)	0.20961141228091398
  (127999, 63511)	0.21790680066488965
  (127999, 3836)	0.21633368124748895
  (127999, 60641)	0.16637919937219312
  (127999, 82344)	0.17087053070850042

In [28]:
#training ml model logistic regression
model=LogisticRegression(max_iter=1000)

In [29]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [30]:
x_train_prediction=model.predict(x_train)
training_acc=accuracy_score(y_train,x_train_prediction)

In [31]:
print(training_acc*100)

82.11484375

In [32]:
x_test_prediction=model.predict(x_test)
test_data_acc=accuracy_score(y_test,x_test_prediction)

In [33]:
print(test_data_acc*100)

76.278125

In [34]:
#saving trained model
import pickle

In [35]:
filename='trained_model.sav'

In [36]:
pickle.dump(model,open(filename,'wb'))

In [37]:
#using trained model
loaded_model=pickle.load(open("C:\\Users\\stuti\\Downloads\\sentimental_analysis\\trained_model.sav",'rb'))

In [48]:
x_new=x_test[31]
print(y_test[31])


prediction=loaded_model.predict(x_new)
print(prediction)

if(prediction[0]==0):
    print("-ve tweet")
else:
    print("+ve tweet")

0
[0]
-ve tweet

In [50]:
pickle.dump(vectorizer,open('vectorizer.pkl','wb'))
pickle.dump(model,open('model.pkl','wb'))

In [60]:
def prediction(comment):
    processed_comment=stemming(comment)
    comment_list=[processed_comment]
    vector_comment=vectorizer.transform(comment_list)
    prediction=model.predict(vector_comment)[0]
    return prediction

prediction=prediction('love is a bitter sweet')
print(prediction)

1